:root {
  --red: #FF4949;
  --black: #2E2E2E;
  --yellow: #ffc600;
  --white: #fff;
  --grey: #efefef;
  --pink:  #f93d66;
  --violet: #6d47d9
}

.App {
  background:linear-gradient(110deg, var(--pink), var(--violet));
  color: var(--white);
  height: 100%;
  min-height: 100vh;
  padding: 0 auto;
  margin: 0 auto;
}

.person-details-section {
  margin-bottom: 50px
}

h1, h2 {
  font-family: 'Press Start 2P';
}
h1 {
  font-size: 2rem;
  padding-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
}

.is-heading {
  margin-top: 100px;
}

.center {
  text-align: center;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--pink) var(--white);
}
body::-webkit-scrollbar-track {
  background: var(--white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 6px;
  border: 3px solid var(--white);
}